
[submodule "2014_fmsHotGoal/pySimpleDMX"]
	path = 2014_fmsHotGoal/pySimpleDMX
	url = git@github.com:c0z3n/pySimpleDMX.git
[submodule "2015_floppyMusic/FloppyMusic"]
	path = 2015_floppyMusic/FloppyMusic
	url = git@github.com:tkbletsc/FloppyMusic.git
[submodule "libEagle/Adafruit-Eagle-Library"]
	path = libEagle/Adafruit-Eagle-Library
	url = git@github.com:adafruit/Adafruit-Eagle-Library.git
[submodule "libEagle/SparkFun-Eagle-Libraries"]
	path = libEagle/SparkFun-Eagle-Libraries
	url = git@github.com:sparkfun/SparkFun-Eagle-Libraries.git
[submodule "libEagle/SparkFun_Eagle_Settings"]
	path = libEagle/SparkFun_Eagle_Settings
	url = git@github.com:sparkfun/SparkFun_Eagle_Settings.git
[submodule "libEagle/Eagle_Library"]
	path = libEagle/SeedStudio-Eagle-Libraries
	url = git@github.com:Seeed-Studio/Eagle_Library.git
[submodule "libEagle/SeedStudio-Eagle-Libraries"]
	path = libEagle/SeedStudio-Eagle-Libraries
	url = git@github.com:Seeed-Studio/Eagle_Library.git
